{% extends "edwinfmesa/layout.html" %} {% block TITLE %}Home{% endblock %} {%block body%}
		
<div class="row-fluid">
		<div class="vs-all span12">
			<div class="hero-unit post-container ">

				
					<h3>Visitas diarias</h3>
					<p>
						A continuacion se muestra las visitas que ha tenido mi blog
					</p>
					<hr>
					<div id="chart_div"></div>
					{% for v in datos %}
			          		id: <strong>{{v.value.id}}</strong> cantidad: {{v.value.count|floatformat:"0"}} <br />
			          		<ul>
			          		{% for d in v.value.date %}
			          			<li>{{ d }}</li>
			          		{% endfor %}
			          		</ul>
			          		<br />
			          {% endfor %}
					
					

			</div>
		</div>
	</div>
	
{%endblock%}
{% block style%}
{%endblock%} 

{% block js %} 
{% endblock %}

{% block headerjs %}
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Quien', 'Cuanto'],
          {% for v in datos %}
			['{{ v.value.id }}',{{  v.value.count|floatformat:"0" }}],
          {% endfor %}
          /*['2004',  1000],
          ['2005',  1170],
          ['2006',  660],
          ['2007',  1030]*/
        ]);

        var options = {
          title: 'Visitas diarias',
          hAxis: {title: 'Usuarios',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{%endblock%}
{% for key, value in visitas %}
          		[{{ key }},{{value}}],
          {% endfor %}